@model CompanyManagerMVC.Entities.User

@{
    ViewData["Title"] = "Account";
}

<h1>@Model!.FirstName @Model.LastName</h1>
<div class="flex-column">
    <h2 class="h2">Tasks: @Model.TaskExecutors.Count</h2>
    <div id="according">
        @{
            foreach (var task in Model.TaskExecutors)
            {
                string taskId = $"task{task.Id}";
                <div class="mb-3">
                    <a class="h4 card-header w-100 text-decoration-none text-black d-inline-block" data-bs-toggle="collapse" href="#@taskId" role="button" aria-expanded="false" aria-controls="@taskId">
                        @task.Name
                    </a>
                    <div class="collapse" id="@taskId">
                        <div class="card card-body">
                            @task.Description
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>